
<div class="assign-task-container">
    <div class="left">
        <p class="assign-input-field">Assign To | <a href=""><i class="fa-solid fa-caret-down"></i></a></p>
        <div class="list-users">
            <ul>
                <li class="list-name">name1</li>
                <li class="list-name">name2</li>
                <li class="list-name">name3</li>
            </ul>
        </div>
    </div>
    <div class="right">
        <p class="assign-input-field">Assign For | <a href=""><i class="fa-solid fa-caret-down"></i></a></p>
        <div class="list-users">
            <ul>
                <li class="list-name">name1</li>
                <li class="list-name">name2</li>
                <li class="list-name">name3</li>
            </ul>
        </div>
    </div>
    <button class="assign-btn">Assign</button>
</div>