
<% if(locals.all_users.length > 0) { %> 
    
    <% for(let i=0; i < all_users.length; i++) {%>
        <% const {name, email, isAdmin} = all_users[i] %> 
        <% if(locals.user.name !== name) {%>
            <li class="list">
                <p style="text-transform: capitalize;"><%= name %></p>
                <p><%= email %></p>
                <% if(!isAdmin) { %> 
                    <p>Employee</p>
                <% } else { %> 
                    <p>Admin</p>
                <% } %> 
                <div class="actions-btn">
                    <a href="/" class="edit-btn">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a href="/" class="delete-btn">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
            </li>
        <% } %>
    <% } %>
<% } else { %> 
    <h2 style="text-align: center; margin-top: 80px; color: teal;">Add Employees</h2>    
<% } %>
