<form action='/register' method='post'>
  <div class='form'>
    <h1>
      <i class='fa-solid fa-user-plus'></i>
      Register
    </h1>
    <input class="input-field" type='text' name="name" placeholder='name' required />
    <input class="input-field" type='email' name="email" placeholder='email' required />
    <input class="input-field" type='password' name="password" placeholder='password' required />
    <input class="input-field" type='password' name="confirm_password" placeholder='confirm password'/>
    <button class="form-btn" type="submit">Sign Up</button>
    <p>Already Registed? <a href="/login">Sign In</a></p>
  </div>
</form>
