<form action='/login' method='post'>
  <div class='form'>
    <h1>
      <i class='fa-solid fa-right-to-bracket'></i>
      Login
    </h1>
    <input class="input-field" type='email' name="email" placeholder='email' required />
    <input class="input-field" type='password' name="password" placeholder='password' required />
    <button class="form-btn" type="submit">Login</button>
    <p>Not yet Registered? <a href="/register">Register</a></p>
  </div>
</form>
