<form action='/login' method='post'>
  <div class='form'>
    <h1>
      <i class='fa-solid fa-user-plus'></i>
      Register
    </h1>
    <input class="input-field" type='text' placeholder='name' required />
    <input class="input-field" type='email' placeholder='email' required />
    <input class="input-field" type='password' placeholder='password' required />
    <input class="input-field" type='password' placeholder='confirm password' required />
    <button class="form-btn">Sign Up</button>
    <p>Already Registed? <a href="/login">Sign In</a></p>
  </div>
</form>
