
/* ===================== dashboard style admin view ==================== */

.dashboard-container {
    width: 50%;
    margin: 100px auto;
}

.tabs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabs .tab-btn {
    padding: 10px;
    color: #444;
    border: 1px solid #6CC4A1;
}

.tab-btn:hover {
    background-color:#6CC4A1;
    transition: .3s ease-in-out;
}

.active-tab {
    background-color:#6CC4A1;
}

/* ==================== employee list ===================== */
.list-container {
    width: 100%;
    margin-top: 30px;
}
.col {
    padding: 20px;
    font-weight: bold;
}
.col, .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    padding: 20px;
    margin: 10px 0;
    color: #fff;
    background-color: #005555;
}

.edit-btn {
    color: #fff;
    margin-right: 5px;
}

.delete-btn i {
    color: #F94C66;
}