
/* ===================== dashboard style admin view ==================== */

.dashboard-container {
    max-width: 600px;
    margin: 100px auto;
}

.tabs .tab-btn {
    padding: 10px;
    color: #005555;
    border: 1px solid #6CC4A1;
    margin-right:20px;
}

.tab-btn:hover {
    background-color:#6CC4A1;
    transition: .3s ease-in-out;
}

.active-tab {
    background-color:#6CC4A1;
}

/* ==================== employee list tab ===================== */
.list-container {
    width: 100%;
    margin-top: 30px;
}
.col {
    padding: 20px;
    font-weight: bold;
}

table {
    padding-right: 30px;
    border-collapse: separate;
    border-spacing:0 10px;
}

table td, table th {
    padding: 20px;
    text-align: center;
}

tbody tr {
    border-radius: 10px;
}


table .list { 
    margin-bottom: 20px;
    color: #A0D995;
    background-color: #005555;
}

.edit-btn {
    color: #fff;
    margin-right: 5px;
}

.delete-btn i {
    color: #F94C66;
}

/* ==================== update tab ===================== */

form.form {
    width: 90%;
}

form.form, .left, .right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 30px 0 30px;
}

.left, .right {
     width: 100%;
    flex-direction: column;
    align-items: center;
}

.left .input-field, .right .label, .input-field {
    border: 1px solid teal;
}
.label {
    display: flex;
}

select#admin {
    padding: 0 10px;
    margin-left: 30px;
    outline: none;
    border: 1px solid gray;
}

.save-form-btn, .assign-btn {
    padding: 10px;
    cursor: pointer;
    color: #A0D995;
    background-color: teal;
    border: none;
    outline: none;
}

/* ==================== assign tab ===================== */

.assign-task-container {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    position: relative;
}

.assign-input-field {
    width: 100%;
    color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #005555;
    padding: 10px;
}

.assign-input-field a, .list-name {
    color: #005555;
}

.list-users-to, .list-users-for {
    width: 100%;
    border: 1px solid #005555;
    position: absolute;
    top: 40px;
}

.assign-task-container .left, .assign-task-container .right {
    position: relative;
    padding: 0;
}

.list-name {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #6CC4A1;
}

.list-name:hover {
    background-color: #005555;
    color: #6CC4A1;
    cursor: pointer;
    transition: .3s ease-in;
}

.hide-dropdown {
    display: none;
}