/* ======================== review feedback ===================== */
.review-list {
    max-width: 350px;
    margin-top: 50px;
}

.review-list .reviewer {
    color: #005555;
    margin: 10px 0;
}

.review-list .text-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-area .feedback-btn {
    padding: 10px;
    border: none;
    color: #A0D995;
    background-color: #005555;
    cursor: pointer;
}

/* ======================== my reviews ===================== */
.review-container {
    margin-top: 50px;
}

.admin-review-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-review {
    margin: 20px 0;
    padding: 10px 20px;
    width: 90%;
    background-color: #005555;
    color: #A0D995;
    text-transform: capitalize;
}

.list-review .review {
    font-size: 1.25rem;
    color: #F8CB2E;
    margin-top: 5px;
}

.list-review .delete-review-btn {
    padding: 5px;
    color: #ED4965;
}