*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

body {
    font-family: sans-serif;
    background-color: #F9F9F9;
}

/* ===================== home page ====================== */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: #1A3C40;
}
.user .user-name {
    text-transform: capitalize;
    color:#A0D995;
}

.user-name {
    display: flex;
    align-items: center;
}
.user-name .log-out-btn {
    padding: 10px;
    margin-left: 20px;
    background-color: #A760FF;
    font-size: .75rem;
    border-radius: 3px;
    color: #fff;
}

.navbar .logo {
    color: #EB5353;
}
.navbar .brand {
    color: #F32424;
}
.navbar h1 {
    color: #fff;
}

.cto-btns {
    text-align: center;
    margin-top: 100px;
}

.login, .register {
    display: inline-block;
    width: 150px;
    padding: 10px 0;
    margin-left: 10px;
    border-radius: 5px;
    color: #53BF9D;
    background-color:#1A3C40;
}


/* ===================== form styles ====================== */

form .form {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #1A3C40;
    margin: 100px auto;
    border-radius: 10px;
}

.form h1 {
    color: #fff;
}
 .form i {
     color: #A0D995;
 }

 .form p > a {
     color: #A0D995;
 }
 

.input-field, .form-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    outline: none;
    border-radius: 5px;
}

.form-btn {
    background-color: #53BF9D;
}

/* ===================== Error page ====================== */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}